.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

body {
	background-color: #66ffff;
}

header {
	text-align: center;
}

h1 {
	display: inline-block;
	font: 45px/ 50px "Quicksand", sans-serif;
	font-weight: 700;
	color: #1d2860;
	text-transform: uppercase;
	text-align: center;
	padding: 5px;
	border: 2px dotted white;
}

.tweets {
	position: relative;
	float: right;
	width: 65%;
	background-color: #003399;
	border-radius: 10px;
	padding:10px;
	overflow-y: scroll;
	height: 450px;
}

.tweet {
	font: 16px/18px "Quicksand", sans-serif;
	color: white;
	list-style-type: none;
}

.time {
	font-size: 14px;
	color: grey;
}

span {
	color: #fff864;
}

span:hover {
	color: #ffc100;
}

.column {
	position: relative;
	text-align: center;
}
button {
	position: absolute;
	text-align: center;
	left: 7%;
	top: 25%;
	font: 28px/30px "Quicksand", sans-serif;
	background-color: white;
	color: #1d2860;
	border: none;
	border-radius: 40px;
	text-align: center;
	height:80px;
	width: 160px;
}

button:hover {
	background-color: #1d2860;
	color: white;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
	background-color: white;
	z-index: -1;

}